.topbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
  }

  .logo {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
.role {
    background: #e6f4ea;
    color: #166534;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
  }
  
  .logout {
    cursor: pointer;
    text-align: center;
    color: black !important;
    padding:4px;
    border: 0.4px solid rgb(245, 107, 107);
    border-radius: 5px;
  }

  .logout:hover{
    background-color: rgb(202, 49, 49);
    color: white !important;
  }